testdata
coverage
.nyc_output

package-lock.json
yarn.lock
pnpm-lock.yaml

dump.rdb
.yarnrc.yml
.yarn

dist/cjs/testdata
dist/cjs/index_test*
dist/esm/testdata
dist/esm/index_test*

index_test.ts

.github
.husky
.lintstagedrc.js
.eslintrc
.prettierrc
tsconfig.esm.json
tsconfig.json